/*Desktop view above 1200 screen size*/

.navbar{
    background-color: #000000;
    height: 100px;
    vertical-align: bottom;
    align-items: flex-end;
    padding: 0.5rem 4.5rem 0.6rem 4.5rem;
}
.nav-link{
    color: #ffffff;
    margin-right: 54px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    font-family: 'Poppins';

}
.nav-link:hover{
    color: #ffffff;
}
.parallex-new{
     min-height: 513px;
    background-image: url('../svg/mainsvg.svg');
    background-position:center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
     padding-top:290px;
     /* background-size:contain; */
     /* background-position: center center; */
}
/* .Header__svgimage{
    width: 100%;
    height: 100%;
}  */
.search-field-new .form-control{
    padding-left: 2.375rem;
}
.search-field-new .form-control-feedback-new{
    position: absolute !important;
    z-index: 2 !important;
    display: block !important;
    width: 2.375rem !important;
    height: 2.375rem !important;
    text-align:center !important;
    pointer-events: none !important;
    color: #808080 !important;
    margin-right: 40% !important;
    margin-left: 29.2% !important;
    padding-top: 20px;
}
.fa{
    font-size: 10px;
}
.input{
    margin: auto !important;
    color:#6A6464;
}
.search-new{
    border-radius: 20px !important;
    width: 670px !important;
    height: 60px !important;
    margin-right: 30% !important;
    margin-left: 29% !important;
    color: #6A6464;
}

/*For small amd medium devices*/
@media(min-width: 576px) and (max-width: 800px){
    .navbar{
        background-color: #000000;
        height: 100px;
        vertical-align: bottom;
        align-items: flex-end;
        padding: 0rem 0rem 0.6rem 0rem;
    }
    .nav-link{
        color: #ffffff;
        margin-right: 25px;
        font-size: 10px;
        line-height: 22px;
        font-weight: 300;
        font-family: 'Poppins';
    }
    .nav-link:hover{
        color: #ffffff;
    }
    .parallex-new{
         min-height: 513px;
        background-image: url('../svg/mainsvg.svg');
        background-position:center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
         padding-top:250px;
         background-size:contain;
         /* background-position: center center; */
    }
    /* .Header__svgimage{
        width: 100%;
        height: 100%;
    }  */
    .search-field-new .form-control{
        padding-left: 2.375rem;
    }
    .search-field-new .form-control-feedback{
        position: absolute !important;
        z-index: 2 !important;
        display: block !important;
        width: 2.375rem !important;
        height: 2.375rem !important;
        text-align:center !important;
        pointer-events: none !important;
        color: #808080 !important;
        margin-right: 40% !important;
        margin-left: 29.2% !important;
        padding-top: 20px;
    }
    .fa{
        font-size: 10px;
    }
    .input{
        margin: auto !important;
        color:#6A6464;
    }
    .search-new{
        border-radius: 20px !important;
        width: 450px !important;
        height: 60px !important;
        margin-right: 30% !important;
        margin-left: 22% !important;
        color: #6A6464;
    }
    
}

/*FOR MEDIUM AND LARGE DEVICES*/
@media(min-width: 800px) and (max-width: 1200px){
    .navbar{
        background-color: #000000;
        height: 100px;
        vertical-align: bottom;
        align-items: flex-end;
        padding: 0.3rem 1.5rem 0.7rem 4.5rem;
    }
    .nav-link{
        color: #ffffff;
        margin-right: 33px;
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
        font-family: 'Poppins';
    }
    .nav-link:hover{
        color: #ffffff;
    }
    .parallex-new{
         min-height: 513px;
        background-image: url('../svg/mainsvg.svg');
        background-position:center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
         padding-top:250px;
         background-size:contain;
         /* background-position: center center; */
    }
    /* .Header__svgimage{
        width: 100%;
        height: 100%;
    }  */
    .search-field-new .form-control{
        padding-left: 2.375rem;
    }
    .search-field-new .form-control-feedback{
        position: absolute !important;
        z-index: 2 !important;
        display: block !important;
        width: 2.375rem !important;
        height: 2.375rem !important;
        text-align:center !important;
        pointer-events: none !important;
        color: #808080 !important;
        margin-right: 40% !important;
        margin-left: 29.2% !important;
        padding-top: 20px;
    }
    .fa{
        font-size: 10px;
    }
    .input{
        margin: auto !important;
        color:#6A6464;
    }
    .search-new{
        border-radius: 20px !important;
        width: 670px !important;
        height: 60px !important;
        margin-right: 30% !important;
        margin-left: 20% !important;
        color: #6A6464;
    }
    
}